<p id="notice"><%= notice %></p>

<h1><center>Study Sessions at Adelphi University</center></h1>

<% if current_user == nil %>
<center><%= link_to 'View Study Sessions', new_user_session_path,class: 'btn btn-default btn-large' %></center>

<% else %>
<center>

<table class="table table-striped">
  <div class ="table-header" >
  <thead>
    <tr>
      <th><center><%= sortable 'subject', "Subject" %></center></th>
      <th><center><%= sortable 'location', "Location" %></center></th>
      <th><center><%= sortable 'description' , "Description" %></center></th>
      <th><center>Members</center></th>
      <th colspan="4"></th>
    </tr>
  </thead>
  </div>
<div class="tr" >
  <tbody>
    <% @studysessions.each do |studysession| %>
      <tr>
        <td><%= studysession.subject %></td>
        <td><%= studysession.location %></td>
        <td><%= studysession.description %></td>
        <td><%= member_size(studysession) %></td>
        <td><%= link_to 'View', studysession %></td>
        <% if is_leader?(studysession, current_user) || current_user.is_admin %>
        <td><%= link_to 'Edit', edit_studysession_path(studysession) %></td>
        <td><%= link_to 'Delete', studysession, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% elsif is_member?(studysession, current_user) %>
        <td><%= link_to 'Leave', studysession_leave_session_path(studysession.id) %></td>
         <td><%='     '%></td>
        <% else %>
        <td><%= link_to 'Join', studysession_join_session_path(studysession.id) %></td>
        <td><%=    '     '          %></td>
        <% end %>
       
      </tr>
    <% end %>
    
  </tbody>
  </div>
</table>

</center>

<br>

<% if current_user != nil %>
<center>
  <%= link_to  new_studysession_path, class: 'btn btn-default' do %>
  <i class="glyphicon glyphicon-plus"></i> New Session
  <% end %>
  </center>
  
  <!-- creating a button that is a link but also bold >
 <!-- <div class = 'btn btn-default'> <a href=studysessions/new><b>New</b> </a></div> >
<% end %>

<% end %>
