<p id="notice"><%= notice %></p>

<h1>Study Sessions at Adelphi University</h1>

<% if current_user == nil %>
<%= link_to 'View Study Sessions', new_user_session_path %>

<% else %>
<table>
  <thead>
    <tr>
      <th>Subject</th>
      <th>Location</th>
      <th>Description</th>
      <th>Members</th>
      <th colspan="4"></th>
      
      
    </tr>
  </thead>

  <tbody>
    <% @studysessions.each do |studysession| %>
      <tr>
        <td><center><%= studysession.subject %></center></td>
        <td><center><%= studysession.location %></center></td>
        <td><center><%= studysession.description %></center></td>
        <td> <center> <%= member_size(studysession) %></center> </td>
        <td><%= link_to 'View', studysession %></td>
        <% if is_leader?(studysession, current_user) || current_user.is_admin %>
        <td><%= link_to 'Edit', edit_studysession_path(studysession) %></td>
        <td><%= link_to 'Delete', studysession, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% elsif is_member?(studysession, current_user) %>
        <td><%= link_to 'Leave', studysession_leave_session_path(studysession.id) %></td>
         <td><%='     '%></td>
        <% else %>
        <td><%= link_to 'Join', studysession_join_session_path(studysession.id) %></td>
        <td><%=    '     '          %></td>
        <% end %>
       
      </tr>
    <% end %>
    
  </tbody>
</table>

<br>

<% if current_user != nil %>
<%= link_to 'New Studysession', new_studysession_path %>
<% end %>

<% end %>
