<p id="notice"><%= notice %></p>

<h1>Listing Studysessions</h1>

<table>
  <thead>
    <tr>
      <th>Subject</th>
      <% if current_user!= nil %>
      <th>Location</th>
      <th>Description</th>
      <th colspan="3"></th>
      <% else %>
      <th colspan="1"></th>
      <% end%>
      
    </tr>
  </thead>

  <tbody>
    <% @studysessions.each do |studysession| %>
      <tr>
        <td><%= studysession.subject %></td>
        <% if current_user!= nil %>
        <td><%= studysession.location %></td>
        <td><%= studysession.description %></td>
        <td><%= link_to 'View', studysession %></td>
        <td><%= link_to 'Edit', edit_studysession_path(studysession) %></td>
        <td><%= link_to 'Delete', studysession, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% else %>
        <td><%=                  %></td>
        <td><%=                  %></td>
        <td><%=                  %></td>
        <td><%=                  %></td>
        <td><%=                  %></td>
        <% end %>
        
        <td> <%= list_members(studysession) %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user != nil %>
<%= link_to 'New Studysession', new_studysession_path %>
<% end %>
