<p id="notice"><%= notice %></p>

<div class= "show-session">
<p>
  <strong>Subject:</strong>
  <%= @studysession.subject %>
</p>

<p>
  <strong>Location:</strong>
  <%= @studysession.location %>
</p>

<p>
  <strong>Description:</strong>
  <%= @studysession.description %>
</p>
<p>
  <strong>Members:</strong>
  <%= member_size(@studysession) %>
</p>
<p>
  <strong>Admin:</strong>
  <%=get_leader(@studysession).email%>
</p>

<p>
  <strong>Created:</strong>
  <%= @studysession.created_at %>
</p>
<strong>Last Updated:</strong>
  <%= @studysession.updated_at %>
<p>
  
</p>
<%= link_to 'Edit', edit_studysession_path(@studysession) %> |
<%= link_to 'Back', studysessions_path %>

</div>
